.SearchResults  {
    box-shadow: 6px 4px 2px 2px #bfa2a4;
    min-width: 330px;
    width: 360px;
    flex-wrap: wrap;
}

.SearchResults h3{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 0;
    font-weight: 600;
    padding: 20px;
    color: #fff;
    background-color: #9e6569
}

.SearchResults ul{
    box-sizing: border-box;
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    font-size: 1em;
    line-height: 1.4em;
    margin: 0;
    list-style-type: none;
}

.select:hover{
    background: rgba(0,0,0,0.08);
}

.SearchResults li{
    font-weight: 600;
    color: #000;
    font-size: 1em;
    line-height: 1.4em;

}

.SearchResults span{
    display: inline-flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: 300;
    font-family: 'Roboto Mono', monospace;
    padding: 0px 10px;
    border-radius: 50px;
    background: rgba(0,0,0,0.08);
}


/*::-webkit-scrollbar {*/
/*    width: 0px;*/
/*    background: transparent;*/
/*}*/

/*@media only screen and (max-width: 1020px) {*/
/*    .SearchResults {*/
/*        width: 90%;*/
/*        margin-bottom: 2rem;*/
/*    }*/
/*}*/
