div.anchor a{
    font-size: 12px;
    outline: none;
    border: 0;
    border-inline: 0;
    text-decoration: none ;


}
div.column_header{
    display: flex;
}
div.column_header h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

div.selector{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    border: 1px solid rgba(159,101,105,1);
}

.home{
    display: flex;
}