.MovieList {
    display: flex;
    
}

.Movie_wrap {
    display: flex;
    padding-left: 50px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}
.no_movie {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 .5rem 2.3rem .5rem;
    border: 1px solid #e3e3e3;
    box-shadow: 6px 4px 2px 2px #bfa2a4;
}
