.Search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Search input {
    width: 95.5%;
    padding: .66rem 1rem;
    margin-right: 2.22rem;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 500;
}