.search{
    position: fixed;
    top: 20%;
    left: 15%;

}
.search_fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.search_fields input{
    outline: none;
    width: 67rem;
    padding: 0.66rem 15% 0.66rem 2%;;
    margin-right: 2.22rem;
    border-radius: 54px;
    border: 1px solid;
    font-size: 15px;
    color: white;
    font-weight: 500;
    background-color: rgb(191, 162, 164);

}
.search_fields button {
    position: absolute;
    right: 3.5%;
    cursor: pointer;
    width: 8.11rem;
    padding: .77rem 0;
    border-radius: 54px;
    background-color: rgb(158, 101, 105);
    text-align: center;
    font-size: .833rem;
    /*transition: background-color .25s;*/
    border: 0;
    color: #fff;
    font-weight: 500;
}
.search_fields button:hover {
    background-color: rgba(108, 1, 8, 7);;
}

::placeholder{
    color: white;
    font-family: Arial, sans-serif;

}