.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search input{
    width: 99.5%;
    padding: .66rem 1rem;
    margin-right: 2.22rem;
    border: 1px solid;
    border-radius: 4px;
    font-size: 25px;
    color: white;
    font-weight: 500;
    background-color: rgb(191, 162, 164);

}
.search button {
    position: absolute;
    right: 16%;
    cursor: pointer;
    width: 8.11rem;
    padding: .77rem 0;
    border-radius: 54px;
    background-color: rgb(158, 101, 105);
    text-align: center;
    font-size: .833rem;
    transition: background-color .25s;
    border: 0px;
    color: #fff;
    font-weight: 500;
}

.search button:hover {
    background-color: rgba(108, 1, 8, 7);;
}