.movie {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 .5rem 2.3rem .5rem;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
    width: 200px;
}

.image-container img{
    width: 200px;
    height: 278px;

}

.movie h2 {
    width: 100%;
    display: block;
    font-weight: 600;
    font-size: 2.0em;

}
.movie h4 {
    width: 100%;
    display: block;
    font-weight: 600;
    font-size: 1.3em;

}
.movie-overview {
    display: inline;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.movie-overview h3 {
    word-wrap: break-word;
    white-space: normal;
    color: #4d4d4d;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 30px;
}

.bar{
    font-size: 30px;
    height: 50px;
    background-color: #eaafaf;
}

