.movie {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 .5rem 2.3rem .5rem;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
    width: 50%;
}

.image-container img{
    width: 100%;
    height: 100%;

}

.movie h2 {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
}


.movie-overview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.movie-overview h3 {
    color: #CCA353;
    font-weight: 600;
}

