.movie {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 .5rem 2.3rem .5rem;
    border: 1px solid #e3e3e3;
    box-shadow: 6px 4px 2px 2px #bfa2a4;
}

.image-container {
    width: 135px;
}

.image-container img{
    min-width: 94px;
    width: 125px;
    height: 200px;
}

.title {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    overflow: hidden;
}

.title a{
    width: 100%;
    display: block;
    font-weight: 600;
    font-size: 2.0em;

}
.title span {
    width: 100%;
    display: block;
    font-weight: 600;
    font-size: 1.3em;
    white-space: nowrap;
    color: #999;

}
.details {
    display: flex;
    padding: 10px 15px;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;

}

.details p {
    word-wrap: break-word;
    white-space: normal;
    color: #4d4d4d;
    line-height: 1.2em;
    font-size: 1em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.bar{
    font-size: 14px;
    height: 20px;
    background-color: #eaafaf;
}

@media screen and (max-width: 1024px) {
    .movie{
        margin: 1rem 0 1rem 0;
    }
}
