
.App {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*font-family: Arial, sans-serif;*/
  font-weight: 500;

}
.headers{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 200px;
}

.list {
  max-width: 1500px;
  /*width: 100vw;*/
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  padding: 30px 40px 30px 40px;
  margin: 15rem 10% 0rem 7%;
}

.pagination {
  /*width: 100%;*/
  display: flex;
  justify-content: center;
  align-content: center;


}




